.app {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Open Sans","Helvetica",Arial,sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;    
}

nav {
    background-color: rgb(150, 150, 150);
}

h2 {
    font-size: 20px;
    color: rgb(73, 73, 73);
    font-weight: normal;
}

.outermost {
    background-color: #fafafa;
    min-height: 100%;
    padding: 0;
    margin: 0;    
    flex: 1;
}

.leftbar {
    background-color: #fafafa;
    min-height: 100%;
    padding: 25px;
}

.centercontent {
    background-color: white;
    min-height: 100%;
    padding: 25px;
    margin: 0;
}

.item-label {
    display: inline-block;
    border-radius: 3px;
    color: white;
    padding: 2px 6px 2px 6px;
    margin-left: 8px;
    border: 1px solid;
}

.high-priority {
    background-color: rgb(0, 0, 0);
}

.low-priority {
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(255, 255, 255);
    color: rgb(73, 73, 73);
}

.medium-priority {
    background-color: rgb(150, 150, 150);
    color: rgb(255, 255, 255);
}

.done-label {
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(255, 255, 255);
    color: rgb(150, 150, 150);
}

.todo-item {
    color: rgb(73, 73, 73);    
    padding: 10px 0px 10px 0px;
}

.todo-indent-2 {
    margin-left: 30px;
}

.done-todo-item {
    color: rgb(150, 150, 150);    
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-panel {
    margin-top: 10px;
}
